
.FondoPastores h6{
    display: inline-block;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: calc(50% - 200px);
    margin-top: 2%;
    font-weight: 500;
}

.FondoPastores img{
    border: black solid 1.5px;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-top: 3%;
    margin-left: calc(50% - 80px);
    left: 0;
    right: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 5px;
}

.FondoPastores{
    display: inline;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

